{% extends "base.html" %}

{% block title %}
About Me
{% endblock %}


{% block heading %}
About Me
{% endblock %}


{% block paragraph %}
It is hard for me to describe who I am. Since, a picture is worth a thousand words, here are a few to welcome you into my life. :)
 
{% endblock %}


{% block content %}


		<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<h3> My Crib.. Rather Big </h3>
						<img src="http://1.bp.blogspot.com/_R3w5PNSFwyY/S2pykx0BozI/AAAAAAAAACI/_Cyiw4_kgZI/S1600-R/Uc+Berk..jpg"/>
					</div>
				</div>
				<div class="large-12 columns">
					<div class="panel">
						<h3> Sweet Escape </h3>
						<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRE_wGcHd2jkOEgAPmG-Shg72TVXPsL13a8Weex5YWPJuQKc_co6g"/>
					</div>
				</div>
				<div class="large-12 columns">
					<div class="panel">
						<h3> Great High </h3>
						<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTHQnknIdHpLq8DZEEZEI3sAqdbWqhbV5oGcz-bCE6DQuHPbsJ2Cg"/>
						
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<h3> Most Expressive </h3>
						<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQAlZ7JQ-foeA2YS_r1h3lf_cZyKMuSNqyS_MMI1M80kGWkbefBQg"/>
					</div>
				</div>
				<div class="large-12 columns">"
									<div class="panel">
										<h3> Engaging Hobby </h3>
										<img src="http://25.media.tumblr.com/tumblr_m8tuzv7azp1qjtpkno1_500.jpg"/>
									</div>
								</div>
								<div class="large-12 columns">
									<div class="panel">
										<h3> Perfect Weather </h3>
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2wynBUnz0wkWe4IfgYknr010d-2d11Grr-JF5g4TlZr-XnnhL"/>
					</div>
				</div>
			</div>



{% endblock %}