{% extends "base.html" %}

{% block title %}
Favorite Media
{% endblock %}


{% block heading %}
Books, Movies and Songs  
{% endblock %}


{% block paragraph %}
Movies have the ability to transport the audience from their mundane lives to a world filled with suspense, thrill and wonderment. Books, on the other hand, serve a different purpose by involving the reader in the written word. Lastly, music serves as a medium to channel emotions and connect with a deeper part of the soul. 

{% endblock %}


{% block content %}

<ol>

<li> Good Cinematic Experience </li>
	<ul> 
		<li> Awaara </li>
		<li> Where The Wild Things Are </li>
		<li> Shaitan </li>
		<li> The Graduate </li> 


	</ul>
<li> Interesting Reads </li>
	<ul> 
		<li> Wuthering Heights </li>
		<li> Rebecca </li>
		<li> Sherlock Holmes  </li>
		<li> Shall We Tell The President </li> 


	</ul>

<li> Favorite Music </li>
	<ul> 
		<li> Life of Pi- Lullaby </li>
		<li> She Will be Loved  </li>
		<li> Bovember Rain </li>
		<li> Nothing </li> 


	</ul>
</ol>


{% endblock %}