{% extends "base.html" %}

{% block title %}
Future Technology
{% endblock %}


{% block heading %}
Future Technology 
{% endblock %}


{% block paragraph %}

{% endblock %}


{% block content %}

	<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<h3> <a href= "http://mashable.com/2013/06/10/sony-playstation-4/"> Sony unveils PS4 , kicks the XBOX One out of the park </a> </h3>
						
					</div>
				</div>
				<div class="large-12 columns">
					<div class="panel">
						<h3> <a href= "http://thenextweb.com/apple/2013/06/10/everything-announced-at-apples-wwdc-2013-keynote-in-one-handy-list/"> Apple’s WWDC 2013 keynote </a> </h3>
					</div>
				</div>
				<div class="large-12 columns">
					<div class="panel">
						<h3> <a href= "http://www.pcmag.com/article2/0,2817,2420106,00.asp"> Google CEO Dismisses Glass Privacy Concerns </a> </h3>
						
					</div>
				</div>
			</div>

			


{% endblock %}